#include <dt-bindings/zmk/matrix_transform.h>

/* Import the base sweep layout */
#include "splitkb_aurora_sweep.dtsi"

/ {
    chosen {
        /* Point directly to the physical layout defined in the .dtsi */
        zmk,physical-layout = &cuddlykeyboards_ferris_layout;
        
        /* We completely omit zmk,kscan so it expects NO local keys */

        /* This so the Central can decode the right half's column offset */
        zmk,matrix_transform = &default_transform;
    };
};