#include <dt-bindings/zmk/matrix_transform.h>

/* Import the base sweep layout */
#include "splitkb_aurora_sweep.dtsi"

/ {
    chosen {
        /* Point directly to the physical layout defined in the .dtsi */
        zmk,physical-layout = &cuddlykeyboards_ferris_layout;
        
        /* We completely omit zmk,kscan so it expects NO local keys */

        /* This so the Central can decode the right half's column offset */
        zmk,matrix_transform = &default_transform;
    };
};

/* Disable the hardware UART to free up the TX pin for our Chip Select */
&uart0 {
    status = "disabled";
};

/* Enable the SPI bus and label it so the nice!view driver can find it */
nice_view_spi: &pro_micro_spi {
    status = "okay";
    cs-gpios = <&pro_micro 1 GPIO_ACTIVE_HIGH>; /* This maps to the TX pin */
};