/* Disable I2C (TWI0) so SPI0 can be used for the nice!view */
&i2c0 {
    status = "disabled";
};

&pro_micro_i2c {
    status = "disabled";
};

/ {
    /* Delete the default OLED nodes so they don't look for I2C */
    /delete-node/ &left_oled;
    /delete-node/ &right_oled;
};